h1.topic_font{
	font-family: "MS Sans-serif", sans-serif, serif;
	color:#002E62;
}

label{
	font-family: "MS Sans-serif", sans-serif, serif;
	font-size: 15px;
}

a.slide_font{
	font-family: "MS Sans-serif", sans-serif, serif;
	font-size: 15px;
}