h1.topic_font{
	font-family: "Times New Roman", Times, serif;
	color:#002E62;
}

label{
	font-family: "Times New Roman", Times, serif;
}

a.slide_font{
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}