/*=============================== Notification css =======================================*/
#notification_li a{
	text-decoration: none;
}
#notification_li a:hover{
	text-decoration: none;
}
#notification_li{
	position: relative;
}
/*
#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	position: absolute;
	top: 35px;
	margin-left: -152px;
	z-index: 1;
	display: none;
	max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}*/
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: black;
	border: 10px solid black;
	border-color: transparent transparent rgba(100, 100, 100, .4);
	margin-top: -20px;
	margin-left: 335px;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px 25px 8px 8px;
	font-size: 13px;
	background-color: #ffffff;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody {
	min-height:300px;
}
#notificationsBody a:hover {
    background: yellow;   
}
#notificationFooter {
	background-color: rgba(246, 246, 246, 0.85);
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}
#notification_count {
	padding: 0px 5px;
    background: #E90909 none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    margin-left: -3px;
    border-radius: 5px;
    position: absolute;
    margin-top: -4px;
    font-size: 11px;
}
.notification {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    min-height: 70px;
    color: #1363B9;
    cursor: pointer;
}
.notification:hover {
    background: #DDD;
}
.notifications .col-md-3 {
    padding: 0px;
}
.notifications img {
    opacity: 0.6;
    width: 59px;
}
.notification a:hover {
    background: yellow;   
}
.not-seen {
    background: #CAE6F3 none repeat scroll 0% 0%;
}
.not-content-box {
    font-size: 13px;
    padding: 0px 0px 0px 5px;
}
.not-date {
    color: #898989;
    font-size: 13px;
    float: right;
}



